.metadata/
bin/
.launch/
Trash/
JavaTest/
LibraryExample/
ZMS-Book-Metamodel/
zorg.xtext.example*
target/
releases/
de.fhdo.ddmm.acceleo/
de.fhdo.lemma.acceleo/
.gradle/
HOWTO Lemma Release.md
*.java._trace
*.xtendbin
*.xtextbin
*.ods
de.fhdo.ddmm.ocl/
out/
de.fhdo.lemma*/build/
code generators/de.fhdo.lemma*/build/
.idea/
set_java_home.sh
code generators/de.fhdo.lemma.model_processing.code_generation.java_base/linecnt_helper.py
.~lock*
*.iml
*.hprof
de.fhdo.lemma.eclipse.ui.editor
Example*/intermediate/
howto-lemma-release.md/
lemma-cd-documentation/
code generators/de.fhdo.lemma.model_processing.code_generation.springcloud.kafka_backup/
de.fhdo.lemma.eclipse.updatesite/force-deploy.sh
build/deploy/debug_deploy.sh
