.metadata/
bin/
.launch/
Trash/
JavaTest/
LibraryExample/
ZMS-Book-Metamodel/
zorg.xtext.example*
target/
releases/
de.fhdo.ddmm.acceleo/
de.fhdo.lemma.acceleo/
de.fhdo.lemma.live_validation/
de.fhdo.lemma.ocl/
.gradle/
HOWTO Lemma Release.md
*.java._trace
*.xtendbin
out/
build/
.gradle/
.idea/
