<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IntermediateOperationModel -->
      <package
            uri="http://www.fhdo.de/lemma/operation/intermediate"
            class="de.fhdo.lemma.operation.intermediate.IntermediatePackage"
            genModel="model/IntermediateOperationModel.xcore"/>
   </extension>

</plugin>
