<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="LEMMA"
            id="de.fhdo.lemma.eclipse.ui.category.lemmaCommands">
      </category>
      <command
            name="Generate Intermediate Models"
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels">
            <commandParameter
                  id="de.fhdo.lemma.eclipse.ui.commands.parameters.selectedModelsOnly"
                  name="Generate intermediate models from resources selected in Project Explorer?"
                  optional="true">
            </commandParameter>
      </command>
      <command
            name="About"
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.about">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
            class="de.fhdo.lemma.eclipse.ui.IntermediateModelTransformationController">
      </handler>
      <handler
            commandId="de.fhdo.lemma.eclipse.ui.commands.about"
            class="de.fhdo.lemma.eclipse.ui.about_dialog.Controller">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="LEMMA"
               mnemonic="D"
               id="de.fhdo.lemma.eclipse.ui.lemmaMenu">
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
                  mnemonic="M"
                  icon="icons/generateIntermediateModels.gif"
                  id="de.fhdo.lemma.eclipse.ui.lemmaMenu.generateIntermediateModels"
                  label="Generate Intermediate Models...">
                  <parameter
                        name="de.fhdo.lemma.eclipse.ui.commands.parameters.selectedModelsOnly"
                        value="true"/>
            </command>
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
                  mnemonic="W"
                  icon="icons/generateForWorkspace.png"
                  id="de.fhdo.lemma.eclipse.ui.lemmaMenu.generateIntermediateModelsForWorkspace"
                  label="Generate Intermediate Models for Workspace...">
                  <parameter
                        name="de.fhdo.lemma.eclipse.ui.commands.parameters.selectedModelsOnly"
                        value="false"/>
            </command>
            <separator
                  name="aboutSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.about"
                  icon="icons/about.png"
                  id="de.fhdo.lemma.eclipse.ui.lemmaMenu.about"
                  label="About LEMMA">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.fhdo.lemma.eclipse.ui.lemmaToolbar">
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
                  icon="icons/generateIntermediateModels.gif"
                  tooltip="Generate Intermediate Models"
                  id="de.fhdo.lemma.eclipse.ui.toolbars.generateIntermediateModels">
                  <parameter
                        name="de.fhdo.lemma.eclipse.ui.commands.parameters.selectedModelsOnly"
                        value="true"/>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="de.fhdo.lemma.eclipse.ui.commands.generateIntermediateModels"
              mnemonic="M"
              id="de.fhdo.lemma.eclipse.ui.menus.transformToLemmaModels"
              icon="icons/generateIntermediateModels.gif"
              label="Generate Intermediate Models...">
              <visibleWhen>
                <with variable="activeMenuSelection">
                    <iterate
                        ifEmpty="false">
                        <or>
                            <instanceof value="org.eclipse.core.resources.IProject"/>
                            <instanceof value="org.eclipse.core.resources.IFolder"/>
                            <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                            <adapt type="org.eclipse.core.resources.IResource">
                                <or>
                                    <test property="org.eclipse.core.resources.name"
                                        value="*.data" />
                                    <test property="org.eclipse.core.resources.name"
                                        value="*.mapping" />
                                    <test property="org.eclipse.core.resources.name"
                                        value="*.services" />
                                </or>
                            </adapt>
                        </or>
                    </iterate>
                </with>
              </visibleWhen>
              <parameter
                    name="de.fhdo.lemma.eclipse.ui.commands.parameters.selectedModelsOnly"
                    value="true"/>
        </command>
      </menuContribution>
   </extension>
</plugin>
