<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IntermediateDataModel -->
      <package
            uri="http://www.fhdo.de/ddmm/data/intermediate"
            class="de.fhdo.ddmm.data.intermediate.IntermediatePackage"
            genModel="model/IntermediateDataModel.xcore"/>
   </extension>

</plugin>
