<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated DataViewpointModel -->
      <package
            uri="de.fhdo.ddmm.data"
            class="de.fhdo.ddmm.data.DataPackage"
            genModel="model/DataViewpointModel.xcore"/>
   </extension>

</plugin>
