<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.extractModelsFromOpenApi"
            name="Extract LEMMA Models from OpenAPI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.fhdo.lemma.eclipse.ui.ExtractModelsFromOpenApiController"
            commandId="de.fhdo.lemma.eclipse.ui.commands.extractModelsFromOpenApi">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="LEMMA"
               mnemonic="D"
               id="de.fhdo.lemma.eclipse.ui.lemmaMenu">
            <separator
                  name="extractionSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.extractModelsFromOpenApi"
                  icon="icons/extractModelsFromOpenApi.gif"
                  id="de.fhdo.lemma.eclipse.ui.lemmaMenu.extractModelsFromOpenApi"
                  label="Extract LEMMA Models from OpenApi Specification">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.fhdo.lemma.eclipse.ui.lemmaToolbar">
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.extractModelsFromOpenApi"
                  icon="icons/extractModelsFromOpenApi.gif"
                  id="de.fhdo.lemma.eclipse.ui.toolbars.extractModelsFromOpenApi"
                  tooltip="Extract LEMMA Models from OpenAPI Spec">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
