<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="LEMMA"
            id="de.fhdo.lemma.eclipse.ui.category.lemmaCommands">
      </category>
      <command
            name="Connect to Live Validation Server"
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.connectToLiveValidationServer">
      </command>
      <command
            name="Disconnect from Live Validation Server"
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.disconnectFromLiveValidationServer">
      </command>
      <command
            name="Connection Information"
            categoryId="de.fhdo.lemma.eclipse.ui.category.lemmaCommands"
            id="de.fhdo.lemma.eclipse.ui.commands.connectionInformation">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
            class="de.fhdo.lemma.eclipse.ui.editor.LiveValidationUiPropertyTester"
            id="de.fhdo.lemma.eclipse.ui.editor.LiveValidationUiPropertyTester"
            namespace="de.fhdo.lemma.eclipse.ui.editor"
            properties="isConnectedToServer"
            type="java.lang.Object">
        </propertyTester>
    </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.fhdo.lemma.eclipse.ui.commands.connectToLiveValidationServer"
            class="de.fhdo.lemma.eclipse.ui.editor.LiveValidationController">
            <enabledWhen>
                <test
                    forcePluginActivation="true"
                    property="de.fhdo.lemma.eclipse.ui.editor.isConnectedToServer"
                    value="false">
                </test>
            </enabledWhen>
      </handler>
      <handler
            commandId="de.fhdo.lemma.eclipse.ui.commands.disconnectFromLiveValidationServer"
            class="de.fhdo.lemma.eclipse.ui.editor.LiveValidationController">
            <enabledWhen>
                <test
                    forcePluginActivation="true"
                    property="de.fhdo.lemma.eclipse.ui.editor.isConnectedToServer"
                    value="true">
                </test>
            </enabledWhen>
      </handler>
      <handler
            commandId="de.fhdo.lemma.eclipse.ui.commands.connectionInformation"
            class="de.fhdo.lemma.eclipse.ui.editor.LiveValidationController">
            <enabledWhen>
                <test
                    forcePluginActivation="true"
                    property="de.fhdo.lemma.eclipse.ui.editor.isConnectedToServer"
                    value="true">
                </test>
            </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.fhdo.lemma.eclipse.ui.commands.connectToLiveValidationServer"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="de.fhdo.lemma.eclipse.ui.commands.disconnectFromLiveValidationServer"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:de.fhdo.lemma.eclipse.ui.lemmaMenu?after=de.fhdo.lemma.eclipse.ui.lemmaMenu.generateOperationIntermediateModelsForWorkspace">
        <separator
              name="liveValidationSeparator"
              visible="true">
        </separator>
        <command
              commandId="de.fhdo.lemma.eclipse.ui.commands.connectToLiveValidationServer"
              mnemonic="C"
              icon="icons/connectLiveValidationServer.gif"
              id="de.fhdo.lemma.eclipse.ui.lemmaMenu.connectToLiveValidationServer">
        </command>
        <command
              commandId="de.fhdo.lemma.eclipse.ui.commands.disconnectFromLiveValidationServer"
              mnemonic="D"
              icon="icons/disconnectLiveValidationServer.gif"
              id="de.fhdo.lemma.eclipse.ui.lemmaMenu.disconnectFromLiveValidationServer">
        </command>
        <command
              commandId="de.fhdo.lemma.eclipse.ui.commands.connectionInformation"
              mnemonic="I"
              icon="icons/connectionInformation.gif"
              id="de.fhdo.lemma.eclipse.ui.lemmaMenu.connectionInformation">
        </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.fhdo.lemma.eclipse.ui.lemmaToolbar">
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.connectToLiveValidationServer"
                  icon="icons/connectLiveValidationServer.gif"
                  tooltip="Connect to Live Validation Server"
                  id="de.fhdo.lemma.eclipse.ui.toolbars.connectToLiveValidationServer">
            </command>
            <command
                  commandId="de.fhdo.lemma.eclipse.ui.commands.disconnectFromLiveValidationServer"
                  icon="icons/disconnectLiveValidationServer.gif"
                  tooltip="Disconnect from Live Validation Server"
                  id="de.fhdo.lemma.eclipse.ui.toolbars.disconnectFromLiveValidationServer">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
