<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TechnologyMappingModel -->
      <package
            uri="de.fhdo.ddmm.technology.mapping"
            class="de.fhdo.ddmm.technology.mapping.MappingPackage"
            genModel="model/TechnologyMappingModel.xcore"/>
   </extension>

</plugin>
